.questionCard{
    width: 80%;
    text-align: left;
    margin: auto;
}
.content{
    /* display: inline-block; */
    width: 100%;
    /* background: red; */
    /* display: inline; */
}
.question{
    display:flex;
}
.votes{
    text-align: center;
    padding-top: 20px;
    width: 20%;
}
.profilePart{
    display: flex;
}
.questionPart{
    width: 80%;
}
.avatar{
   
    width: 50px; 
    margin-top: 20px;
    padding-right: 20px;
}

.link{
    text-decoration: none;
}