.questionCard{
    width: 80%;
    text-align: left;
    margin: auto;
}
.content{
    display: inline-block;
}
.question{
    display:flex;
}
.votes{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.profilePart{
    display: flex;
}
.avatar{
   
    width: 50px; 
    margin-top: 20px;
}
.profileDetails{
    text-align: center;
    
}