.questionCard{
    width: 80%;
    text-align: left;
    margin: auto;
}
.content{
    display: inline-block;
    flex-grow: 1;
}
.question{
    display:flex;
}
.votes{
    text-align: center;
}
.profilePart{
    display: flex;
}
.avatar{
    /* background: red; */
    width: 50px; 
    margin-top: 20px;
}
.profileDetails{
    text-align: center;
    /* background: blue; */

}